body{
    margin: 0;
    padding: 0;
    background: #E5E9B1;
}
h1{
    margin: 1.8rem;
    text-align: center;
    font-family:cursive;
    font-weight: 600;
}
p{
    font-weight: 200;
    font-family: cursive;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
}
img{
    width:100%;
    border-radius: .5em;
}
footer{
    text-align: center;
}

footer a{
    margin: .4rem;
    color: rgb(189, 7, 98);
}
.image{
    width:max-content;
    height: 200px;
}